<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>我的免费问</string>
		<key>icon</key>
		<string>mfwen.png</string>
		<key>nextButton</key>
		<string>s-get</string>
	</dict>
	<dict>
		<key>nextButton</key>
		<string>s-get</string>
		<key>name</key>
		<string>我的悬赏问</string>
		<key>icon</key>
		<string>xswen.png</string>
	</dict>
	<dict>
		<key>nextButton</key>
		<string>s-get</string>
		<key>name</key>
		<string>我的咨询</string>
		<key>icon</key>
		<string>comment.png</string>
	</dict>
	<dict>
		<key>nextButton</key>
		<string>s-get</string>
		<key>name</key>
		<string>我查阅的案例</string>
		<key>icon</key>
		<string>book.png</string>
	</dict>
	<dict>
		<key>nextButton</key>
		<string>s-get</string>
		<key>name</key>
		<string>我关注的专家</string>
		<key>icon</key>
		<string>star.png</string>
	</dict>
	<dict>
		<key>nextButton</key>
		<string>s-get</string>
		<key>name</key>
		<string>我的会员卡</string>
		<key>icon</key>
		<string>credit-card.png</string>
	</dict>
	<dict>
		<key>nextButton</key>
		<string>s-get</string>
		<key>name</key>
		<string>我的钱包</string>
		<key>icon</key>
		<string>wallet.png</string>
	</dict>
	<dict>
		<key>nextButton</key>
		<string>s-get</string>
		<key>name</key>
		<string>我的订单</string>
		<key>icon</key>
		<string>clipboard.png</string>
	</dict>
</array>
</plist>
